Repository semgrep/mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest-unit, pytest-integration

.pre-commit-config.yaml:

# Pre-commit configuration that matches CI checks
repos:
  # Ruff - matches .github/workflows/lint.yml ruff job
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Pyright type checking - matches .github/workflows/lint.yml pyright job
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false
        args: [run, pyright, src/]

  # Pytest unit tests - matches .github/workflows/test.yml unit-tests job
  - repo: local
    hooks:
      - id: pytest-unit
        name: pytest unit tests
        entry: uv
        language: system
        types: [python]
        pass_filenames: false
        args: [run, pytest, tests/unit/, --doctest-modules]

  # Pytest integration tests - matches .github/workflows/test.yml integration-tests job
  - repo: local
    hooks:
      - id: pytest-integration
        name: pytest integration tests
        entry: uv
        language: system
        types: [python]
        pass_filenames: false
        args: [run, pytest, tests/integration/, --doctest-modules]

install semgrep pro in docker build
  .github/workflows/docker.yaml
  Dockerfile
Due: none

Bump semgrep to
  pyproject.toml
  uv.lock
Due: none

gracefully handle no pro engine
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

add docs
  src/semgrep_mcp/semgrep.py
Due: pyright, pytest-unit, pytest-integration

tracing.py
  pyproject.toml
  src/semgrep_mcp/server.py
  src/utilities/tracing.py
  uv.lock
Due: pyright, pytest-unit, pytest-integration

trace id
  src/utilities/tracing.py
Due: pyright, pytest-unit, pytest-integration

clean up
  src/utilities/tracing.py
Due: pyright, pytest-unit, pytest-integration

link parent span
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
  src/utilities/tracing.py
Due: pyright, pytest-unit, pytest-integration

rebase
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

wait for process to finish
  src/semgrep_mcp/semgrep.py
  src/utilities/tracing.py
Due: pyright, pytest-unit, pytest-integration

fix top-level span not spanning the whole time
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

link telemetry to ocaml server
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

add --trace
  src/semgrep_mcp/semgrep.py
Due: pyright, pytest-unit, pytest-integration

add back accidentally removed comma
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

don't bump on prs
  .github/workflows/bump_version.yml
Due: none

hacky
  src/semgrep_mcp/server.py
  tests/integration/test_sse_client.py
  tests/integration/test_streamable_client.py
Due: pyright, pytest-unit, pytest-integration

remove test tool
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

ruff
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

update contributing to advise having a secret set for docker build
  CONTRIBUTING.md
Due: none

Add vim swap files to gitignore
  .gitignore
Due: none

Update instructions for building Docker image
  CONTRIBUTING.md
Due: none

Update instructions for building Docker image (#130)
  CONTRIBUTING.md
Due: none

Fix permissions issue in Dockerfile
  Dockerfile
Due: none

Fix permissions issue in Dockerfile (#129)
  Dockerfile
Due: none

Add vim swap files to gitignore (#128)
  .gitignore
Due: none

Move Docker image build command to Makefile
  CONTRIBUTING.md
  Makefile
Due: none

add basic oauth flow
  pyproject.toml
  src/semgrep_mcp/server.py
  src/semgrep_mcp/token_verifier.py
  uv.lock
Due: pyright, pytest-unit, pytest-integration

Update server.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

Bump mcp to 1.12.4 (#117)
  pyproject.toml
  src/semgrep_mcp/server.py
  uv.lock
Due: pyright, pytest-unit, pytest-integration

use audience verification
  src/semgrep_mcp/server.py
  src/semgrep_mcp/token_verifier.py
Due: pyright, pytest-unit, pytest-integration

Use new domain
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

add token-verification unit tests
  tests/unit/test_token_verifier.py
Due: pytest-unit, pytest-integration

don't mock security parts of the tests
  pyproject.toml
  tests/unit/test_token_verifier.py
  uv.lock
Due: pytest-unit, pytest-integration

fix ruff
  pyproject.toml
  src/semgrep_mcp/server.py
  tests/unit/test_token_verifier.py
Due: pyright, pytest-unit, pytest-integration

add param
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

move utilities into package
  src/semgrep_mcp/server.py
  src/semgrep_mcp/utilities/tracing.py
Due: pyright, pytest-unit, pytest-integration
