Repository semgrep/mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest-unit, pytest-integration

.pre-commit-config.yaml:

# Pre-commit configuration that matches CI checks
repos:
  # Ruff - matches .github/workflows/lint.yml ruff job
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Pyright type checking - matches .github/workflows/lint.yml pyright job
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false
        args: [run, pyright, src/]

  # Pytest unit tests - matches .github/workflows/test.yml unit-tests job
  - repo: local
    hooks:
      - id: pytest-unit
        name: pytest unit tests
        entry: uv
        language: system
        types: [python]
        pass_filenames: false
        args: [run, pytest, tests/unit/, --doctest-modules]

  # Pytest integration tests - matches .github/workflows/test.yml integration-tests job
  - repo: local
    hooks:
      - id: pytest-integration
        name: pytest integration tests
        entry: uv
        language: system
        types: [python]
        pass_filenames: false
        args: [run, pytest, tests/integration/, --doctest-modules]

fix server.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

set env var when running pytest
  pyproject.toml
  uv.lock
Due: none

pass spans into other semgrep commands
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

delete security check
  scripts/configure_semgrep_mcp.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

print link only when sent to not local
  src/semgrep_mcp/utilities/tracing.py
Due: pyright, pytest-unit, pytest-integration

feat: add option for disabling tracing (#184)
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
  src/semgrep_mcp/utilities/tracing.py
  src/semgrep_mcp/utilities/utils.py
Due: pyright, pytest-unit, pytest-integration

delete security check (#188)
  scripts/configure_semgrep_mcp.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

two toosl!
  src/semgrep_mcp/models.py
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

clarify comment
  src/semgrep_mcp/models.py
Due: pyright, pytest-unit, pytest-integration

don't use os.isabs()
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

fix tests
  tests/integration/test_create_temp_files.py
Due: pytest-unit, pytest-integration

fix things
  src/semgrep_mcp/server.py
  tests/integration/test_sse_client.py
  tests/integration/test_stdio_client.py
  tests/integration/test_streamable_client.py
Due: pyright, pytest-unit, pytest-integration

only start daemon if logged in
  src/semgrep_mcp/semgrep.py
Due: pyright, pytest-unit, pytest-integration

fix readme and make tests remote
  README.md
  examples/sse_client.py
  examples/streamable_http_client.py
  tests/integration/test_sse_client.py
  tests/integration/test_stdio_client.py
  tests/integration/test_streamable_client.py
Due: pytest-unit, pytest-integration

add local test
  tests/integration/test_local_scan.py
Due: pytest-unit, pytest-integration

only start daemon if logged in (#190)
  src/semgrep_mcp/semgrep.py
Due: pyright, pytest-unit, pytest-integration

add httpx
  pyproject.toml
  uv.lock
Due: none

remove httpx
  pyproject.toml
  uv.lock
Due: none

now add httpx back
  pyproject.toml
  uv.lock
Due: none

Remove httpx
  pyproject.toml
  uv.lock
Due: none

get rid of print
  tests/integration/test_sse_client.py
Due: pytest-unit, pytest-integration

fix tests
  src/semgrep_mcp/server.py
  tests/integration/test_local_scan.py
  tests/integration/test_sse_client.py
  tests/integration/test_stdio_client.py
  tests/integration/test_streamable_client.py
Due: pyright, pytest-unit, pytest-integration

bump time
  tests/integration/test_local_scan.py
  tests/integration/test_streamable_client.py
Due: pytest-unit, pytest-integration

add prompt
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

remove --debug
  src/semgrep_mcp/semgrep.py
Due: pyright, pytest-unit, pytest-integration

remove security check
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

add prompt to install semgrep
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

oops
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

move validate config
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

add semgrep scan remote to disbale list
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

feat: add prompt to setup mcp (#191)
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

chore: set `SEMGREP_MCP_TRACING_DISABLED` when running pytest (#185)
  pyproject.toml
  uv.lock
Due: none

feat: remote and local scanning tools (#189)
  README.md
  examples/sse_client.py
  examples/streamable_http_client.py
  src/semgrep_mcp/models.py
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
  tests/integration/test_create_temp_files.py
  tests/integration/test_local_scan.py
  tests/integration/test_sse_client.py
  tests/integration/test_stdio_client.py
  tests/integration/test_streamable_client.py
  uv.lock
Due: pyright, pytest-unit, pytest-integration

pass spans into other semgrep commands (#187)
  src/semgrep_mcp/semgrep.py
  src/semgrep_mcp/server.py
Due: pyright, pytest-unit, pytest-integration

git info
  src/semgrep_mcp/semgrep.py
Due: pyright, pytest-unit, pytest-integration

add message deprecating mcp
  README.md
Due: none

add warning emojis
  README.md
Due: none

mvoe warning to top
  README.md
Due: none
